@import url(main.css);

.ordenes{
    padding: 10%;
}
.ordenes .orden .datosUsuario{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 2% 0%;
    margin: 2% 0%;
}
.ordenes .orden .datosUsuario img{
    height: 100%;
    width: 100%;
}
.ordenes .orden .datosUsuario thead tr{
    background-color: rgba(255, 255, 255, 0.135); 
    text-align: center;
}
.ordenes .orden .datosUsuario tbody tr{
    background-color: rgba(255, 255, 255, 0.135); 
    text-align: center;
}