@import url(main.css);

/* 

PALETA DE COLORES SUBLIEME---
Naranja-
#d35400
Negro-
#101010
Blanco-
#ffffff

*/
.portada{
    padding: 20% 10%;
}


@media screen and (min-width:900px){
    .portada{
        padding: 10%;
    }
    .portada p{
        padding: 0.5% 0%;
    }
}


.pedidos{
    padding: 10%;
}

.pedidos p{
    padding: 1% 0%;
}
.pedidos h1{
    padding: 5% 0%;
}
.pedidos a, .menu a{
    padding: 2% 10% 2% 2%;

    color: #d35400;
    border-bottom: 2px solid #d35400;
    font-weight: 500;

    text-decoration: none;
}
.pedidos .pasos{
    padding: 2%;
}

@media screen and (min-width:900px){
    .pedidos{
        padding: 5% 10%;
    }
    .pedidos p{
        padding: 0.5% 0%;
    }
    .pedidos h1{
        padding: 0%;
    }
    .pedidos .pasos{
        padding: 2%;
    }
}



.menu{
    padding: 10%
}
.menu p{
    padding: 5% 0%;
}
@media screen and (min-width:900px){
    .menu{
        padding: 5% 10%;
    }
    .menu p{
        padding: 0.5% 0%;
    }
}

