@import url(main.css);

/* 

font-family: "Permanent Marker", cursive;

PALETA DE COLORES SUBLIEME---
Naranja-
#d35400
Negro-
#101010
Blanco-
#ffffff

*/

.portada{
    padding: 10% 10% 5% 10%;
    text-align: center;
}
.portada img{
    padding-bottom: 2%;
    height: 50px;
}

.portada .iniciar button{
    padding: 2% 10%;
    margin: 5%;
    border-radius: 10px;

    background-color: #ffffff;
    color: #101010;    
}
.portada .datos .usuario div{
    padding: 2% 0%;
    display: flex;
    justify-content: space-between;
}
.portada .datos .usuario div input{
    padding: 2% 1%;
    background-color: rgba(255, 255, 255, 0.838); 
    border: none;
    border-radius: 10px;
}
.portada .datos .usuario .tipoPago{
    justify-content: start;
}
.portada .datos .usuario .tipoPago input{
    margin-right: 5%;
}
.portada .datos .usuario .sinpe{
    display: block;
    text-align: start;
}
.portada .datos .usuario .sinpe input{
    margin: 2% 0%;
    color: #101010;
}
.portada .datos .orden tbody tr{
    background-color: rgba(255, 255, 255, 0.135); 
}
.portada .datos .orden tfoot tr{
    background-color: rgba(0, 128, 0, 0.263);
}
.portada .datos .orden button{
    padding: 2% 10%;
    margin: 5%;
    border-radius: 10px;

    background-color: #ffffff;
    color: #101010;  
}


.menu{
    padding: 0% 10% 10% 10%;
}
.menu .titulo{
    text-align: center;
}
.menu .titulito{
    text-align: center;
    padding: 2%;
    margin-bottom: 1%;
    background-color: #d35400;
}
.menu .plato{
    padding: 2%;
}
.menu .plato .datos{
    display: flex;
    font-weight: 500;
}
.menu .plato .datos p{
    padding: 2% 10% 2% 0%;
}
.menu .plato button{
    background-color: #ffffff;
    color: #101010;

    border: none;
    border-radius: 80%;
    padding: 0% 3%;
}

.menu .nachos{
    padding-top: 10%;
}

