@import url(main.css);

/* 

font-family: "Permanent Marker", cursive;

PALETA DE COLORES SUBLIEME---
Naranja-
#d35400
Negro-
#101010
Blanco-
#ffffff

*/

.portada{
    padding: 10% 10% 5% 10%;
    text-align: center;
}
.portada img{
    padding-bottom: 2%;
    height: 50px;
}


.orden{
    padding: 5%;
    text-align: center;
}
.orden tbody tr td{
    border-bottom: 1px solid #ffffff4e;
    text-align: center;
    padding-bottom: 1%;
}
.orden .btn{
    text-align: end;
}
.orden .btn button{
    border: none;
    border-radius: 5%;
    padding: 2%;
    margin: 2%;

    background-color: #ffffff;
    color: #101010;
}
.orden button:active , .menu .plato button:active{
    background-color: #f59c60;
}

.menu{
    padding: 0% 10% 10% 10%;
}
.menu .titulo{
    text-align: center;
}
.menu .titulito{
    text-align: center;
    padding: 2%;
    margin-bottom: 1%;
    background-color: #d35400;
}
.menu .plato{
    padding: 2%;
}
.menu .plato .datos{
    display: flex;
    font-weight: 500;
}
.menu .plato .datos p{
    padding: 2% 10% 2% 0%;
}
.menu .plato button{
    background-color: #ffffff;
    color: #101010;

    border: none;
    border-radius: 80%;
    padding: 0% 3%;
}

.menu .nachos{
    padding-top: 10%;
}

